@import "tailwindcss";

@layer utilities {
  /* Essential custom utilities that are being used */
  .gradient-text {
    @apply bg-gradient-to-r from-[#39D373] to-[#005F24] bg-clip-text text-transparent;
  }

  .gradient-gray-text {
    @apply bg-gradient-to-r 
       from-[#ffffff] 
       to-[#999999] 
       bg-clip-text 
       text-transparent;
  }

  .testimonial-user-role {
    @apply text-sm;
    color: #939393;
  }
}

@import "../styles/tw-utilities.css";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

.light {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

.outer-container {
  width: 1223px;
  margin: 0 auto;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  overflow-x: hidden;

  color: var(--foreground);
  font-family: pulic-sans, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
